<h2>{{logItemData.title}}</h2>

<form class="input-group">
  <div class="input-row">
    <label>Distance</label>
    <input type="text" placeholder="51 km">
  </div>
  <div class="input-row">
    <label>Time taken</label>
    <input type="text" placeholder="35 minutes">
  </div>
  <div class="input-row">
    <label>Recorded on</label>
    <input type="text" placeholder="27/07/2014">
  </div>
</form>
<div class="content-padded">
	<p>Log start time: *todo*, end time: *todo*</p> 
</div>
<section id="map">
	<div id="map_canvas" ui-map="myMap" 
	style="height:200px;width:295px;border:2px solid #777777;margin:3px; border:1px solid" 
	ui-options="mapOptions" 
	ui-event="{'map-tilesloaded' : 'onMapIdle()'}">
	</div>
	<div ui-map-marker="myMarkers"></div>
	<div ui-map-polyline="logPath"></div>
</section>
